figure.plugin_jquotes {
    margin: 1em 0.25em;
    padding: 0.5em .75em;
    background-color: @ini_background_alt;
    cursor: pointer;
    color: @ini_text_alt;
    border-radius: 0.5em;
	font-size: 1em;
	line-height: 1.5;
}

figure.plugin_jquotes > blockquote {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: inherit; 
    background-color: @ini_background_alt;
    font-size: 1em;
}

figure.plugin_jquotes > blockquote::before {
    content: "\0201c";
    position: absolute;
    top: -0.75rem;
    left: -0.75rem;
    font-size: 3em;
}

figure.plugin_jquotes > blockquote::after {
    content: "\0201d";
    position: absolute;
    bottom: -2.5rem;
    right: -0.75rem;
    font-size: 3em;
}

figure.plugin_jquotes > blockquote > p {
    margin: 0 1em;
    padding: 0;
    text-align: left;
}

figure.plugin_jquotes > blockquote > p::first-letter {
    font-size: 1.25em;
}

figure.plugin_jquotes > figcaption {
    margin: 0.75em 1em 0 1em;
    padding: 0;
    font-style: italic;
    text-align: right;
}

figure.plugin_jquotes > figcaption::before {
    content: "\02014";
}

body.tpl_bootstrap3 figure.plugin_jquotes > blockquote::before {
    top: -1.25rem;
    left: -1.25rem;
}
 
body.tpl_bootstrap3 figure.plugin_jquotes > blockquote::after {
    bottom: -4.5rem;
    right: -1.25rem;
}
