figure.plugin_jquotes {
    margin: 1em 0.25em;
    padding: 0.5em .75em;
    background-color: @ini_background_alt;
    cursor: pointer;
    color: @ini_text_alt;
    border-radius: 0.33em;
}

figure.plugin_jquotes > blockquote {
    position: relative;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: inherit; 
    background-color: @ini_background_alt;
    font-size: 1em;
}

figure.plugin_jquotes > blockquote p::before {
    content: "\0201c";
    position: absolute;
    top: 0.25em;
    left: -0.25em;
    font-size: 3em;
}

figure.plugin_jquotes > blockquote > p {
    margin: 0 1em;
    padding: 0;
    text-align: left;
 }

figure.plugin_jquotes > blockquote p::after {
    content: "\0201d";
    position: absolute;
    bottom: -0.25em;
    right: -0.25em;
    font-size: 3em;
}

figure.plugin_jquotes > figcaption {
    margin: 0.75em 1em 0 1em;
    padding: 0;
    font-style: italic;
    text-align: right;
}

figure.plugin_jquotes > figcaption::before {
        content: "\02014";
}
